/* ----------------------- */
/*styles for mobile 320px */
/* --------------------- */
body{
    background-image:url(../assets/background-mobile.png);
}
main{ 
    margin: 3em auto; 
    perspective: 700px;
}
section{
    transform-style: preserve-3d;
    perspective: 700px; 
}
.profile-sec{
    position: relative;
    transform-style: preserve-3d;
}
.profile-div{
    font-size: small;
}
.profile-div h2{
    margin-bottom: 0;
}
.profile-div h3{
    margin-top: 0;
}
.profile-div h2,h3{
    color: #EC879C;
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Antic Slab', serif;
}

.container{
    display: flex;
    justify-content:center;
    margin-bottom: 2em;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.back-profile{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.profile-pic {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    background-color: white;
    padding: .2em;
}
.logo-img{
    width: 2em;
    height: 2em;
    position: relative;
    right: 2.5em;
}
svg{
    height: 1.5em;
    width: 1.5em;
    padding: .2em;
}

.info-sec{
    background-color: white;
    width: 90%;
    margin: 0 auto 1em;
    border-radius: 10px;
    box-shadow: 0 0 5px hotpink;
    padding:1em 0 ;
    position: relative;
    transform-style: preserve-3d;  
}

.card{
    position: relative;
    transform-style: preserve-3d;
}

.front-card{
    width: 90%;
    margin: 1em auto;
    backface-visibility: hidden;
}

.floral-flex:hover{
    background-color: #FFF9F3;
}
.floral-flex{
    display: flex;
    align-items: center;
    font-size: 12px;
}
.floral-container img{
    width: 10em;
    height: 10em;
}
.floral-container,
.floral-flex h3     {
    text-align: center;
}
.button-container{
    position: absolute;
    bottom: -15px;
    right: -10px;
}

.button-container svg{
    background-color:#CA6D81;
    width: 1.2em;
    height: 1.2em;
    padding: 12px;
    border-radius: 5px;
}

/* back of card styles */
.flip-back{
    transform: rotateY(180deg);
    transition: transform 1s ease-in;
    /* backface-visibility: hidden; */
}
.flip-front{
    transform: rotateY(0);
    transition: transform 1s ease-in;
}
.svg-hidden{
    display: none;
}
.back-side{
    transform: rotateY(180deg);
    transition: transform 1s ease-out;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px pink;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.heading-container p {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.socials-container:hover{
    background-color: #FFF9F3;
}
.socials-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 250px;
}

.qr-container{
    margin: 3em auto;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    background-color: #F3F3F3;
    width: 70%;
    padding: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.qr-container img {
    width: 150px;
    height: 150px;
}
.qr-container h4{
    margin: 2em auto 0;
}
.email-content p{
    margin-top: 0;
}
.qr-content p{
    font-size: small;
    margin-top: 0;
}
/* ----------------------- */
/*styles for mobile  425px */
/* --------------------- */
@media(min-width:425px){
    .container,
    .floral-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: x-small; */
    text-align: initial;
    }
    .container h2{
        margin-top: 0;
    }
    
    .floral-container{
        padding-right: 2em;
    }
    .floral-container,
    .floral-flex h3     {
        text-align: initial;
    }  
    .qr-container{
        display: flex;
        align-items: center;
        width: 80%;
    }
    .qr-container img {
        height: 120px;
        width: 120px;
    }
    .email-content{
        padding: 1em;
    }
    .profile-div{
        font-size: initial;
    }
    .svg-container{
        font: larger;
    }

}
/* ----------------------- */
/*styles for tablet 768px */
/* --------------------- */
@media(min-width:768px){
    body{
        background-image: url(../assets/background-desktop.png);
    }
    .profile-div{
        align-items: center;
        justify-content: space-between;
    }
    .front-card{
        width: 90%;
    }
    .floral-flex{
        padding: 0 1em;
        font-size: medium;
    }
    .tablet-break{
        width: 80%;
        margin: auto;
    }
    .container,
    .svg-container{
        font-size: x-large;
    }
}
/* ----------------------- */
/*styles for desktop 1024px */
/* --------------------- */
@media(min-width:1024px){
    main{
        max-width: 1200px;
       
        padding: 1em 0 2em ;
    }
    .container{
        width: 80%;
        margin: 2em auto;
    }
    .card{
        border: solid 2px white;
        box-shadow: 2px 2px 10px white;
        border-radius: 10px; 
    }
    .profile-div{
        display: flex;
        justify-content: space-between;
        width: 70%;
    }
    
    .back-profile .profile-div{
        width: initial;
    }
    .front-card{
        display: flex;
    }
    .floral-flex{
        display: inline-block;
    }
    .back-side{
        display: flex;
    }
    .heading-container p{
        display: none;
    }
    .qr-container{
        margin: 3em;
    }
}