/* ----------------------- */
/*styles for mobile 320px */
/* --------------------- */

body{
    background-image:url(../assets/background-mobile.png);
}

.profile-div h2{
    margin-bottom: 0;
    font-size: xx-large;
}
.profile-div h3{
    margin-top: 0;
}
.profile-div h2,h3{
    color: #EC879C;
    font-family: 'Playfair Display', serif;
}
p{
    font-family: 'Antic Slab', serif;
}

.container{
    text-align: center;
    width: 80%;
    margin: 3em auto;
}

.profile-container{
    margin-left: 2.5em;
}
.profile-pic {
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: white;
    padding: .2em;
}
.logo-img{
    width: 3em;
    height: 3em;
    position: relative;
    right: 2.5em;
}

svg{
    height: 2em;
    width: 2em;
    padding: .4em;
}

.background{
    background-color: white;
    width: 80%;
    margin: 0 auto 1em;
    border-radius: 10px;
    padding:1em 0 ;
    position: relative;
}

.floral-flex{
    width: 90%;
    margin: 5em auto;
    text-align: center;
}
.floral-container img{
    width: 8em;
    height: 8em;
}
.flip-icon{
    position: absolute;
    bottom: -15px;
    right: -10px;
}

.flip-icon svg{
    background-color:#CA6D81;
    width: 1.2em;
    height: 1.2em;
    padding: 12px;
    border-radius: 5px;
}